<%# https://github.com/BlackrockDigital/startbootstrap-creative %>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">i made this</a>
    <button class="navbar-toggler navbar-toggler-right" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to '新規登録', new_user_registration_path, class: "nav-link js-scroll-trigger" %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログイン', login_path, class: "nav-link js-scroll-trigger" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navigation -->

<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>自分の作ったものを自慢しよう</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">自分の作ったものをいろんな人に見てもらいたい！<br>誰かの作ったものを見て見てみたい！</p>
        <%= link_to 'さっそく登録して見る？', new_user_registration_path, class: "btn btn-primary btn-xl js-scroll-trigger registration-button" %>
      </div>
    </div>
  </div>
</header>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">いろんなものを自慢しましょう</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-camera text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">写真家</h3>
          <p class="text-muted mb-0">お気に入りの写真を自慢しよう</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-desktop text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">エンジニアリング</h3>
          <p class="text-muted mb-0">Webサイトを自慢しよう</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-music text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">音楽家</h3>
          <p class="text-muted mb-0">オリジナル楽曲を自慢しよう</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-youtube text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">映像クリエイター</h3>
          <p class="text-muted mb-0">自作した映像を自慢しよう</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0" id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">

      <div class="col-lg-4 col-sm-6">
        <%= link_to '' , "fullsize/1.jpg", class: "portfolio-box" %>
        <%= image_tag "thumbnails/1.jpg", class: "img-fluid" %>
      </div>

      <div class="col-lg-4 col-sm-6">
        <%= link_to '' , "fullsize/2.jpg", class: "portfolio-box" %>
        <%= image_tag "thumbnails/2.jpg", class: "img-fluid" %>
      </div>

      <div class="col-lg-4 col-sm-6">
        <%= link_to '' , "fullsize/3.jpg", class: "portfolio-box" %>
        <%= image_tag "thumbnails/3.jpg", class: "img-fluid" %>
      </div>

      <div class="col-lg-4 col-sm-6">
        <%= link_to '' , "fullsize/4.jpg", class: "portfolio-box" %>
        <%= image_tag "thumbnails/4.jpg", class: "img-fluid" %>
      </div>

      <div class="col-lg-4 col-sm-6">
        <%= link_to '' , "fullsize/5.jpg", class: "portfolio-box" %>
        <%= image_tag "thumbnails/5.jpg", class: "img-fluid" %>
      </div>

      <div class="col-lg-4 col-sm-6">
        <%= link_to '' , "fullsize/6.jpg", class: "portfolio-box" %>
        <%= image_tag "thumbnails/6.jpg", class: "img-fluid" %>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">お問い合わせ</h2>
        <hr class="my-4">
        <p class="mb-5">もし何か困った事などがございましたら、以下へご連絡ください。</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-twitter fa-3x mb-3 sr-contact"></i>
        <p>@mayoxtuna</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
        <p>
          <a href="mailto:i-made-this-support@gmail.com">i-made-this-support@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
</section>
